@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    :root {
        --c_beige: 236 223 204;
        --c_dark_beige: 209 191 168;
        --c_orange: 219 126 33;
        --c_dark_orange: 190 109 28;
        --c_red: 162 60 60;
        --c_green: 105 117 101;
        --c_dark_green: 78 86 75;
        --c_grey: 60 61 55;
        --c_black: 24 28 20;
    }

    @font-face {
        font-family: "Archivo-Variable";
        src: url("/assets/fonts/archivoComplete/Archivo-Variable.woff2")
                format("woff2"),
            url("/assets/fonts/archivoComplete/Archivo-Variable.woff")
                format("woff"),
            url("/assets/fonts/archivoComplete/Archivo-Variable.ttf")
                format("truetype");
        font-weight: 100 900;
        font-display: swap;
        font-style: normal;
    }

    @font-face {
        font-family: "ClashDisplay-Variable";
        src: url("/assets/fonts/clashDisplay/ClashDisplay-Variable.woff2")
                format("woff2"),
            url("/assets/fonts/clashDisplay/ClashDisplay-Variable.woff")
                format("woff"),
            url("/assets/fonts/clashDisplay/ClashDisplay-Variable.ttf")
                format("truetype");
        font-weight: 200 700;
        font-display: swap;
        font-style: normal;
    }
}


.custom_scrollbar {
    --scrollbar-track: rgba(0, 0, 0, 0);
    --scrollbar-thumb: rgba(209, 191, 168, 1);
    scrollbar-width: thin;
    scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-track);
}

.custom_scrollbar::-webkit-scrollbar-track {
    background: var(--scrollbar-track);
}

.custom_scrollbar::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb);
    border-radius: 4px;
}

.custom_scrollbar::-webkit-scrollbar {
    width: 8px;
}