---
import Layout from '../layouts/Layout.astro';

import { useTranslations } from '../i18n/utils';

export function getStaticPaths() {
  return [
    {params: {lang: 'en'}},
    {params: {lang: 'fr'}},
  ];
}
const { lang } = Astro.params;

const t = useTranslations(lang as 'en' | 'fr');

---

<Layout title={t('title')}>
    <main>
        <div class="absolute text-ghost_white">{t('desc')}</div>
    </main>
</Layout>