---
import Layout from "../layouts/Layout_Contact.astro";
import { Image } from 'astro:assets';

import Icon from "astro-icon";

import meImage from "../assets/me.webp";
---

<script>
  const mobile = window.innerWidth < 768;

  if (!mobile) {
    document.addEventListener("mousemove", (e) => {
      const x = e.clientX;
      const y = e.clientY;

      const xPercentage = (x / window.innerWidth) * 120;
      const yPercentage = (y / window.innerHeight) * 120;

      const bg = document.querySelector(".border-radial-contact") as HTMLElement;

      if (bg) {
        bg.style.setProperty("--mouse-x", `${xPercentage}%`);
        bg.style.setProperty("--mouse-y", `${yPercentage}%`);
      }
    });
  } else {
    const bg = document.querySelector(".border-radial-contact") as HTMLElement;
    if (bg) {
      bg.style.setProperty("--mouse-x", `50%`);
      bg.style.setProperty("--mouse-y", `50%`);
    }
  }
</script>

<Layout title="Mathis Verstrepen - Socials">
  <main class="h-full w-full flex items-center justify-center z-10 absolute">
    <div
      class="h-fit w-fit max-w-[90vw] max-h-[90%]
       bg-ghost_white bg-opacity-[0.060] border-radial-contact flex flex-col items-center justify-start 
       py-8 md:py-14 px-10 md:px-28 rounded-[20px]"
    >
      <Image
        src={meImage}
        height={256}
        width={256}
        alt="Mathis Verstrepen Photo"
        class="h-24 w-24 md:h-32 md:w-32 rounded-full"
      />

      <div class="flex items-center justify-center flex-col mt-5">
        <h1 class="font-ClashDisplay-Semibold text-ghost_white text-xl text-center">Mathis Verstrepen</h1>
        <p class="font-ClashDisplay-Regular text-ghost_white text-sm text-center">
          Web developer <span class="text-scarlet">&</span> data scientist
        </p>
      </div>

      <div class="flex items-center  flex-col mt-8 space-y-4 overflow-scroll">
        <a
          href="mailto:contact@diikstra.fr"
          class="flex items-center bg-ghost_white bg-opacity-10 rounded-3xl py-2 w-56 justify-center hover:bg-opacity-5 duration-300 hover:scale-[0.98]"
        >
          <Icon name="socials/mail-filled" class="h-5 w-5 mr-2 text-ghost_white" />
          <p class="text-ghost_white font-ClashDisplay-Regular text-sm md:text-base">contact@diikstra.fr</p>
        </a>

        <a
          href="https://portfolio.diikstra.fr"
          class="flex items-center bg-ghost_white bg-opacity-10 rounded-3xl py-2 w-56 justify-center hover:bg-opacity-5 duration-300 hover:scale-[0.98]"
          target="_blank"
        >
          <Icon name="socials/app-window-filled" class="h-5 w-5 mr-2 text-ghost_white" />
          <p class="text-ghost_white font-ClashDisplay-Regular text-sm md:text-base">Portfolio</p>
        </a>

        <a
          href="https://www.linkedin.com/in/mathis-verstrepen/"
          class="flex items-center bg-ghost_white bg-opacity-10 rounded-3xl py-2 w-56 justify-center hover:bg-opacity-5 duration-300 hover:scale-[0.98]"
          target="_blank"
        >
          <Icon name="socials/linkedin-icon" class="h-5 w-5 mr-2 text-ghost_white" />
          <p class="text-ghost_white font-ClashDisplay-Regular text-sm md:text-base">LinkedIn</p>
        </a>

        <a
          href="https://github.com/MathisVerstrepen"
          class="flex items-center bg-ghost_white bg-opacity-10 rounded-3xl py-2 w-56 justify-center hover:bg-opacity-5 duration-300 hover:scale-[0.98]"
          target="_blank"
        >
          <Icon name="socials/github-icon" class="h-5 w-5 mr-2 text-ghost_white" />
          <p class="text-ghost_white font-ClashDisplay-Regular text-sm md:text-base">Github</p>
        </a>

        <a
          href="https://boxd.it/6Q635"
          class="flex items-center bg-ghost_white bg-opacity-10 rounded-3xl py-2 w-56 justify-center hover:bg-opacity-5 duration-300 hover:scale-[0.98]"
          target="_blank"
        >
          <Icon name="socials/letterboxd" class="h-5 w-5 mr-2 text-ghost_white" />
          <p class="text-ghost_white font-ClashDisplay-Regular text-sm md:text-base">Letterboxd</p>
        </a>

        <a
          href="https://twitter.com/mathis_v1"
          class="flex items-center bg-ghost_white bg-opacity-10 rounded-3xl py-2 w-56 justify-center hover:bg-opacity-5 duration-300 hover:scale-[0.98]"
          target="_blank"
        >
          <Icon name="socials/twitter" class="h-5 w-5 mr-2 text-ghost_white" />
          <p class="text-ghost_white font-ClashDisplay-Regular text-sm md:text-base">Twitter</p>
        </a>

        <a
          href="https://discordapp.com/users/295595256890654720"
          class="flex items-center bg-ghost_white bg-opacity-10 rounded-3xl py-2 w-56 justify-center hover:bg-opacity-5 duration-300 hover:scale-[0.98]"
          target="_blank"
        >
          <Icon name="socials/discord-icon" class="h-5 w-5 mr-2 text-ghost_white" />
          <p class="text-ghost_white font-ClashDisplay-Regular text-sm md:text-base">Discord</p>
        </a>
      </div>
    </div>
  </main>
</Layout>

<style>
  .border-radial-contact {
    position: relative;
    z-index: 0;
  }

  .border-radial-contact:before {
    content: "";
    position: absolute;
    z-index: -1;
    inset: 0;
    padding: 3px;
    border-radius: 20px;
    background: radial-gradient(rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.1) 25%, rgba(255, 255, 255, 0) 80%);
    background-size: 200% 200%, 100% 100%;
    background-position: var(--mouse-x, 100%) var(--mouse-y, 100%); /* Valeurs par défaut à 50% 50% */
    background-repeat: no-repeat;
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
  }
</style>
