---
import Layout from "../../layouts/Layout.astro";

import { useTranslations } from "../../i18n/utils";

export function getStaticPaths() {
  return [{ params: { lang: "en" } }, { params: { lang: "fr" } }];
}
const { lang } = Astro.params;

const t = useTranslations(lang as "en" | "fr");
---

<Layout title={t("home.title")}>
  <main class="h-full w-1/2 flex items-center justify-center z-10 absolute">
    <div class="h-[95%] w-[94%] bg-ghost_white bg-opacity-[0.033] border-radial-box grid grid-rows-[80%_20%] p-20">
        test
    </div>
  </main>
</Layout>

<style>
  .border-radial-box {
    border-style: solid;
    border-width: 4px;
    border-image: radial-gradient(rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 105%) 1;
    border-radius: 10px;
  }
</style>