---
import Layout from "../../layouts/Layout.astro";

import { useTranslations } from "../../i18n/utils";

export function getStaticPaths() {
  return [{ params: { lang: "en" } }, { params: { lang: "fr" } }];
}
const { lang } = Astro.params;

const t = useTranslations(lang as "en" | "fr");
---

<Layout title={t("home.title")}>
  <main class="h-full w-full flex items-center justify-center z-10 absolute">
    <div>test</div>
  </main>
</Layout>
