---
import { ViewTransitions } from 'astro:transitions';

import ContactBox from "../components/QuickActionBox.astro";

interface Props {
	title: string;
}

const { title } = Astro.props;
const { lang } = Astro.params;

const currentPath = Astro.url.pathname;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description">
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
        <link rel="stylesheet" href="/style/fonts.css">
		<title>{title}</title>
        <ViewTransitions />
	</head>
	<body class="bg-black absolute h-screen w-screen overflow-hidden m-0 p-0" transition:animate="morph">
        {currentPath !== `/${lang}/` && <ContactBox />}
        <slot />
        <img src="/noise-min.png" alt="noise" class="absolute h-full w-full object-fill pointer-events-none opacity-50 z-0">
        <span id="circle1" class="h-full w-full -translate-x-1/2 absolute opacity-20 z-0"></span>
        <span id="circle2" class="h-2/3 w-full translate-y-full absolute opacity-10 z-0"></span>
	</body>
</html>

<style is:global>
#circle1 {
    background: radial-gradient(#FF331F, transparent 70%);
}
#circle2 {
    background: radial-gradient(#1FAEFF, transparent 70%);
}

.border-radial-box {
border-style: solid;
border-width: 4px;
border-image: radial-gradient(rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 105%) 1;
border-radius: 10px;
}

li {
    list-style-type: disc;
}

small {
    opacity: 0.75;
}
</style>